.wrapper {
    max-width: 405px;
    background: rgb(255, 255, 255);
    margin: 137px auto;
    border-radius: 7px;
    padding: 28px 0 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    text-align: center;
  }
  
  .list-group {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    margin: 25px;
    height: 245px;
    overflow: auto;
    background-color: #fff;
  }
  
  .list-group-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom-style: solid;
    border-bottom-color: rgb(41, 39, 38);
    border-bottom-width: 0.5px;
  }
  
  .list-group-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
  }
  
  .list-group-text {
    font-size: 1.2rem;
  }
  